#container{
	width: 1050px;
	border: 1px solid grey;
	margin: 0 auto;

}

#brand{
	float: left;
}

h1 a{
	font-size: 50px;
	font-weight: 100;
	color: #861BBF;
	text-decoration: none;
}

#searchBox{
	float: right;
}